* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 1vh;
  border-bottom: solid 1px #aaa;
  background-color: #eeeeee5c;
  margin-bottom: -1vh;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #ffffffc5;
  margin-top: 0.3rem;
  font-weight: bold;
}

nav a[aria-current='page'] {
  color: #ffffffa0;
  background-color: #00000085;
}
nav div{
  width:100vw;
  height: 4rem;
  background-color: #0000005c;
  margin-bottom: -4rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.firstSection {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1728388939226-3fc095526a91?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: bottom center;
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSection > h1 {
  width: 300px;
  background-color: #000;
  color: #eee;
  text-align: center;
  padding: 15px 0;
  opacity: 0.7;
}

.secondSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: row;
}

.secondSection >div{
  width: 500px;
  border: 2px solid #000;
  display: flex;
  flex-flow: row;
}

.cardtxt {
  width: 50%;
  padding: 10px;
  font-size: 50%;/*kan ikke scale text based on contaner size på en lett måte :(*/
}

.cardimg {
  width: 50%;
}

/*side2*/
.rotate{
  position: relative;
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.flashB{
  animation-name: flash;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
@keyframes flash{/*bakgrunsflash*/
  0%{background-color: black;}
  99.9%{background-color: black;}
  to{background-color: white;}
}
@keyframes rotate {/*flashbanggranade*/
  from {left:-10%}
  99%{rotate:600deg;left:50%;opacity: 1;}
  to { rotate: 600deg;left:50%;opacity: 0;}
}
@keyframes hideY{/*nav synlighet*/
  from{opacity: 0;}
  99%{opacity: 0;}
  to{opacity: 1;}
}
.page2nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.navApg2{
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
  animation-name: hideY;
  animation-duration: 2s;
  opacity: 1;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
.navApg2[aria-current='page'] {
  color: #555;
  background-color: rgba(212, 212, 212, 0);
  animation-name: hideY;
  animation-duration: 2s;
  opacity: 1;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}